*.jar
*.class
bin
bintest
classes
lib
test_lib
build
dist
*.swf
javacore*
heapdump*
Snap.*

riaImpl/FlexUI/.actionScriptProperties
riaImpl/FlexUIModules/FlexUIApplication/.actionScriptProperties

riaImpl/FlexUIModules/FlexUIApplication/.project
bin-debug
html-template

jiServices/*/*Generated/src/com

EllipseMessages.properties
checksum.txt
*.tc
*.war
riaImpl/RIAEar/META-INF/application.xml
riaImpl/RIALite/automatedDB

# exclude derby test detritus
deleteme
derby.log

# exclude annoying gedit backup files
*~

riaImpl/RIAEar/EllipseWebServicesSecurity.zip
riaImpl/RIAEar/*.zip

webSrvcImpl/EllipseWebServicesJavaClient/gen/*
webSrvcImpl/EllipseWebServicesJavaClient/*.wsdl
ellipseJImpl/EllipseBuild/all.datnl
ellipseJImpl/EllipseBuild/db_ddl/
ellipseJImpl/EllipseBuild/db_macro/
ellipseJImpl/EllipseBuild/fail
coreTest/TestingInfrastructure/.settings/*

riaImpl/FlexUI/bin-debug/
rsmSrvcTranImpl/UML2Service/src/com/mincom/ellipse/uml/service/
rsmInfrTranImpl/UML2EllipseType/src/com/mincom/ellipse/types/generator/
generator/
jxl.log

riaImpl/FlexUI/bin-debug/
rsmInfrTranImpl/UML2EllipseType/src/com/mincom/ellipse/types/generator/

# exclude RIALite log and DB files
rialite.log
rialiteDB
selenium.log
*.ipr
*.iws

com.adobe.flexbuilder.project.prefs
riaImpl/FlexAutomated/test.properties
reports/*.html
reports/*.html_files
